p,
h1,
h2,
a {
    font-family: "Parkinsans", sans-serif;
}

.btn-details {
    font-family: "Parkinsans", sans-serif;
    background-color: #E0B973;
    color: white;
    font-size: 16px
}

.btn-details :hover {
    opacity: 50%;
    background-color: white !important:
}

.card-title-cabin {
    font-family: "Parkinsans", sans-serif;
    font-size: 28px;
    background-color: #50582B;
    color: #F3DCB3;
}

.title-cabins-page {

    text-align: center;
    font-family: "Parkinsans", sans-serif;
    color: #50582B;
}

.logo-icon {
    width: 50px;
    height: auto;
    align-self: center;
}

.text-content {
    text-align: center;
    font-family: "Parkinsans", sans-serif;
    font-size: 18px;
    color: #50582B;
}



@media (max-width: 768px) {
    .logo-img {
        max-width: 80px !important;
    }

    .logo-icon {
        max-width: 30px;
    }

    .title-cabins-page {
        font-size: 18px;
    }

    .text-content {
        font-size: 14px !important;
    }

    .container-contact {
        width: 90% !important;
    }
}